.container{
  display: flex;
}

.left{
  position: relative;
  width: 65%;
  height: 100vh;
  clip-path: polygon(100% 0,90% 100%, 0 100%, 0 0);
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem 0 1em;
}

.title{
  font-size: 2.5rem;
}

.signin{
  margin: 1rem;
  font-size: 1.5rem;
  background-color: black;
  text-transform: capitalize;
}

.circle{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6em;
  height: 6em;
}