::-webkit-scrollbar {
  width: 2px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

body {
  text-align: center;
  font-weight: bolder;
  min-width: 350px;
  min-height: 400px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 139, 0.696),
    rgba(0, 139, 139, 0.597),
    rgba(0, 139, 139, 0.493)
  );
}

h1 {
  font-size: 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

span {
  color: rgba(245, 5, 85, 0.959);
}

#cap {
  color: white;
}
button {
  margin-top: 1em;
  font-size: 16px;
  border-radius: 5px;
  padding: 7px;
  background-color: rgba(0, 139, 139, 0.304);
  font-family: Georgia, "Times New Roman", Times, serif;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 139, 0.673);
  color: white;
}

p {
  margin-top: 1em;
  font-size: 20px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: #082757;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a:hover {
  color: rgba(245, 5, 85, 0.959);
  text-decoration: underline;
}
