<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <p>Hi, search using these details</p>

    <div>
        <label>Input Name</label>
        <input type="text" name="fir" id="fir" required>
    </div>
    <div>
        <label>Input FACE ID</label>
        <input type="file" name="face" id="face">
    </div>
    <div>
        <label>Input FingerPrint</label>
        <input type="file" name="finger" id="finger">
    </div>
</body>

</html>