<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="index.css">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hi <%= name %>
    </h1>
    <div>
        <label>Input Name No.</label>
        <input type="text" name="fir" id="fir" required>
    </div>
    <form action="/logout?_method=DELETE" method="POST">
        <!-- <button type="submit">Log Out</button> -->
    </form>

</body>

</html>