.search {
  height: 50px;
  margin: none;
  width: 30rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    font-size: 20px;
    text-shadow: 0 0 0 #2d353b;
    color: transparent;
    padding-left: 20px;
}

.search:focus{
    outline-width: 0;

}

::placeholder {
  text-align: center;
}
header {
  margin-top: 10px;
}

.box {
  justify-content: center;
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.cont {
  max-width: 968px;
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  margin-top: 40px
}

.nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

@media screen and (min-width: 992px) {
  .cont {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 48px;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.btn:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
.btn:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}

.check{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #D61355;
    margin-right: 15%;
    text-shadow: 0 0 0 #2d353b;
}